<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome to all the Cookie Orders</h1>
        <div class="d-flex justify-content-around mt-3">
            <p>All Orders :</p>
            <a href="/make/new/order">Make a new order</a>
        </div>
        <div class="d-flex justify-content-around mt-3">
            <table class="table table-primary table-striped col-7">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type of Cookie</th>
                        <th scope="col"># of Cookies</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.name }}</td>
                        <td>{{ order.cookie_type }}</td>
                        <td>{{ order.number }}</td>
                        <td>
                            <a class="btn btn-info" href="/edit/order/{{ order.id }}">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
